<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/plugins/layui/css/layui.css"
          th:href="@{/plugins/layui/css/layui.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="/background/index::menu"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <br>
        <!--
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form class="navbar-form navbar-left" role="search" id="searchForm">
                        <div class="form-group">
                            <input class="form-control" type="text" name="criteria"
                                   placeholder="输入商品名、用户名或订单号"/>
                        </div>
                        <button type="button" class="btn btn-success" onclick="reloadUser()">查找</button>
                    </form>
                </div>
            </div>
        </div>
        -->
        <table id="orderTable"></table>
    </div>

    <div th:replace="/background/index::foot"></div>
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js"></script>
<script src="../../../static/plugins/layui/layui.js" th:src="@{/plugins/layui/layui.js}"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });


    $(function () {
    })

    layui.use(['table'], function () {
        var table = layui.table;
        var formObject={};
        var formArray=$("#searchForm").serializeArray();
        $.each(formArray,function(index,entity){
            formObject[entity.name]=entity.value;
        });

        orderTable = table.render({
            elem: '#orderTable',
            url: '/api/order/getList',
            contentType: 'application/x-www-form-urlencoded',
            where: formObject,
            method: 'get',
            page: true,
            toolbar: true,
            defaultToolbar: ['filter', 'exports'],
            request: {
                pageName: 'pageNum',
                limitName: 'pageSize'
            },
            limit: 25,
            limits: [25, 50, 100, 500],
            parseData: function (res) {
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.pageInfo.total, //解析数据长度
                    "data": res.pageInfo.list //解析数据列表
                }
            },
            cols: [
                [
                    {field: 'order_id', title: '订单号'},
                    {field: 'product_id', title: '产品名'},
                    {field: 'order_time', title: '下单时间'},
                    {field: 'uer_id', title: '客户名'},
                    {field: 'price', title: '价格'},
                    {field: 'number', title: '数量'},
                    {field: 'state', title: '状态'}
                    /*{title:'操作',templet:function (data) {
                            var userId = "'"+data.userId+"'";
                            var editButton = '<button type="button" class="btn btn-success" onclick="edit('+userId+')">编辑</button>';
                            return editButton;
                        }
                    }*/
                ]
            ],
            response: {
                statusCode: 200 //规定成功的状态码，默认：0
            }
        });

        window.reloadUser = function(){
            var formObject1={};
            var formArray1=$("#searchForm").serializeArray();
            $.each(formArray1,function(index,entity){
                formObject1[entity.name]=entity.value;
            });
            userTable.reload({
                page:{ curr:1 },
                where: formObject1
            })
        }
    });
</script>
</html>