<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超市管理</title>
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" th:href="@{/plugins/layui/css/layui.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <footer th:fragment="menu">
        <div class="layui-header">
            <div class="layui-logo">超市后台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="/background/index">控制台</a></li>
                <li class="layui-nav-item"><a href="/background/user/index">用户管理</a></li>
                <!--<li class="layui-nav-item"><a href="">BOM</a></li>-->
                <!--<li class="layui-nav-item"><a href="">物料管理</a></li>-->
                <li class="layui-nav-item">
                    <a href="javascript:;">基础设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">用户管理</a></dd>
                        <dd><a href="#">角色管理</a></dd>
                        <dd><a href="#">权限管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        你好
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="javascript:;">列表三</a></dd>
                    <dd><a href="">超链接</a></dd>
                    </dl>
                    </li>
                    <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                    </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="layui-body">
        <!-- 内容主体区域 -->

    </div>

    <footer th:fragment="foot">
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © fresh - 网上生鲜超市
        </div>
    </footer>
</div>

</body>
<script src="../../static/plugins/layui/layui.js" th:src="@{/plugins/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</html>