<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
</head>

<style>
    body{
        padding-top: 50px;
        padding-bottom:50px;
        background-color:#ededed;
    }
    footer{
        position:absolute;
        height:50px
        bottom:0px;
        left:0px;
        width:100%;
        background-color: #000000;
        color:#777;
        padding: 32px;
        text-decoration: none;
    }
</style>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <form class="navbar-form navbar-nav">
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="row-fluid">
                <div  class="col-md-3">

                </div>
                <!-- 收货人信息 -->
                <div class="col-md-3">
                    <div class="dt">
                        <h4>收货人信息</h4>
                    </div>
                    <div class="dd">
                        <div class="item"><span class="label" style="color:#00ff00;">收货人：</span>
                            <div class="info-rcol">李二红</div>
                        </div>
                        <div class="item"><span class="label">地址：</span>
                            <div class="info-rcol">上海奉贤区海湾镇华东理工大学(奉贤校区)-海思路999号</div>
                        </div>
                        <div class="item"><span class="label">手机号码：</span>
                            <div class="info-rcol">189****3683</div>
                        </div>
                    </div>
                </div>
                <!-- 配送信息 -->
                <div class="col-md-3">
                    <div class="dt">
                        <h4>配送信息</h4>
                    </div>
                    <div class="dd">
                        <div class="item"><span class="label">配送方式：</span>
                            <div class="info-rcol">普通快递</div>
                        </div>
                        <div class="item"><span class="label">运费：</span>
                            <div class="info-rcol"><span class="f-price">¥0.00</span></div>
                        </div>
                        <div class="item"><span class="label">期望送货日期：</span>
                            <div class="info-rcol">2019-04-02</div>
                        </div>
                        <div class="item"><span class="label">期望配送时间：</span>
                            <div class="info-rcol">09:00-15:00</div>
                        </div>
                        <div class="item"><span class="label"></span>
                            <div class="info-rcol">  </div>
                        </div>
                    </div>
                </div>
                <!-- 付款信息 -->
                <div class="col-md-3">
                    <div class="dt">
                        <h4>付款信息</h4>
                    </div>
                    <div class="dd">
                        <div class="item"><span class="label">付款方式：</span>
                            <div class="info-rcol">在线支付</div>
                        </div>
                        <div class="item"><span class="label">付款时间：</span>
                            <div class="info-rcol">2019-04-01 22:54:41</div>
                        </div>
                        <div class="item"><span class="label">商品总额：</span>
                            <div class="info-rcol"><span class="f-price">¥129.60</span></div>
                        </div>
                        <div class="item"><span class="label">应支付金额：</span>
                            <div class="info-rcol"><span class="f-price">¥119.60</span></div>
                        </div>
                        <div class="item"><span class="label">返现：</span>
                            <div class="info-rcol"><span class="f-price">¥10.00</span></div>
                        </div>
                    </div>
                    <!-- 续重运费   -->
                    <div id="freshTips" style="display:none">
                        <div class="prompt-box prompt-box-yf"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr/>

<footer class="container-fluid" >
    <div class="container">
        <p>这里是底部信息的标题</p>
        <div class="row" c>
            <!-- 部分：一 -->
            <div class="col-md-3">
                <p>部分：一</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>部分：一内容</li>
                            <li>部分：一内容</li>
                            <li>部分：一内容</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>部分：一内容</li>
                            <li>部分：一内容</li>
                            <li>部分：一内容</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 部分：二 -->
            <div class="col-md-6">
                <p>部分：二</p>
                <ul>
                    <li>部分：二内容</li>
                    <li>部分：二内容</li>
                    <li>部分：二内容</li>
                    <li>部分：二内容</li>
                    <li>部分：二内容</li>
                    <li>部分：二内容</li>
                </ul>
            </div>
            <!-- 部分：三 -->
            <div class="col-md-3">
                <ul>
                    <li>部分：三内容</li>
                    <li>部分：三内容</li>
                    <li>部分：三内容</li>
                    <li>部分：三内容</li>
                    <li>部分：三内容</li>
                    <li>部分：三内容</li>
                </ul>
            </div>
        </div>

    </div>

</footer>

</body>
<script src="https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>

</html>
