<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到生鲜超市！</title>
</head>
<body>
<table width="80%" align="center">

    <tr>
        <td>
            <table width="100%" align="center" cellpadding="0px" cellspacing="0px" border="1">

                <td width="80%" align="center">
                    <a href="#">登录</a>
                       <a href="#">注册<a>
                          <a href="#">购物车</a>
                </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr style="height: 50px">
        <td bgcolor="#448CFF" style="border: 1px solid red">
            <a href="#" style="padding: 150px"><span style="font-size: 30px;color: white;">首页</span>
                <a href="#" style="padding: 150px"><span style="font-size: 30px;color: white;">海鲜</span>
                    <a href="#" style="padding: 150px"><span style="font-size: 30px;color: white;">水果</span>
                        <a href="#" style="padding: 150px"><span style="font-size: 30px;color: white;">肉类</span>
                            <a href="#" style="padding: 150px"><span style="font-size: 30px;color: white;">浏览历史</span>

        </td>
    </tr>

    <tr>
        <td>
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557970065&di=ce7187d4e3f034ddcc0e839aa129b24d&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.bosum.com.cn%2Fd%2Ffile%2Fzhiyejingliren%2F2015-12-15%2Fd721f2658ae37b6f3f16e658e4abb5d8.png" height="700" width="100%"/>
        </td>
    </tr>

    <tr>
        <td>
            <table style="height: 500px;width: 100%;" border="1">

                <tr style="height: 50px">
                    <td bgcolor="#448CFF" colspan="7">
                        <b style="color: white;font-size: 30px;padding: 30px">最新商品</b>
                    </td>
                </tr>

                <tr>


                    <td align="center" style="margin: auto">
                        <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=4044290785,366973501&fm=26&gp=0.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">东山岛野生海鲜海捕小章鱼八爪鱼 盒装 500g/盒</p>
                        <p style=" color:gold;font-size:25px;">¥140.00</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557967883&di=bdc545fe17e03bb61ec4110315ff0c04&imgtype=jpg&er=1&src=http%3A%2F%2Fimg001.hc360.cn%2Fm5%2FM03%2FF2%2FBA%2FwKhQ6lSr5OGEad_rAAAAAPnFFWg423.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">俄罗斯进口鲜活帝王蟹 1.8-2.2kg</p>
                        <p style=" color:gold;font-size: 25px;">1288.00¥</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557966437&di=c385c2bada757e353b6474151263d4d4&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.alicdn.com%2Ftfscom%2Fi3%2F1579528508%2FTB2AOleiVXXXXaDXXXXXXXXXXXX_%21%211579528508.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">加拿大活鲜波士顿龙虾550g-650g/只</p>
                        <p style=" color:gold;font-size: 25px;">198.00¥</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557967116&di=bdc1ac05ec607e50c8621c283b7c4f07&imgtype=jpg&er=1&src=http%3A%2F%2Fpic2.womai.com%2Fupload%2F601%2F603%2F606%2F64306%2F280375%2F219300%2F219301%2F638151%2F638151_1_pic1080_3091.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">马来西亚进口老虎虾800g </p>
                        <p style=" color:gold;font-size: 25px;">138.00¥</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://img.alicdn.com/simba/img/TB1J.BIcWmWBuNkHFJHSuuatVXa.jpg" width="100%">
        </td>
    </tr>

    <tr>
        <td>
            <table style="height: 500px;width: 100%;" border="1">

                <tr style="height: 50px">
                    <td bgcolor="#448CFF" colspan="7">
                        <b style="color: white;font-size: 30px;padding: 30px">热门商品</b>
                    </td>
                </tr>

                <tr>


                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557965523&di=3769b449ae6421ec56eaab04afd98d50&imgtype=jpg&er=1&src=http%3A%2F%2Fimage4.suning.cn%2Fuimg%2Fb2c%2Fnewcatentries%2F0070115359-000000000143690559_1_800x800.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">丹东红颜九九牛奶草莓 1.5kg</p>
                        <p style=" color:gold;font-size:25px;">108.00¥</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557965927&di=82e8b181beddda99c259579f0f4c6d45&imgtype=jpg&er=1&src=http%3A%2F%2Fstatic.100hl.cn%2F2015%2F04%2F1428656298TNvtCG.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">海南麒麟西瓜 2.5~3.5kg</p>
                        <p style=" color:gold;font-size: 25px;">32.80¥</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557967263&di=9a174f6b658c13fc518409cb8db007fc&imgtype=jpg&er=1&src=http%3A%2F%2Fmall5.qiyipic.com%2Fimage%2F20151011%2F08%2F01%2Fmall_1558040_1444576725284_1x1.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">江西赣南脐橙 橙子1.5kg</p>
                        <p style=" color:gold;font-size: 25px;">10.00¥</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557967783&di=e626dfac5d97aad9b6d82fd5f704ea6c&imgtype=jpg&er=1&src=http%3A%2F%2Fm.360buyimg.com%2Fn12%2Fjfs%2Ft853%2F198%2F1527186159%2F334342%2Fbc95c852%2F57303183N7748a52e.jpg%21q70.jpg" width="500" height="500"/>
                        <p style="font-size: 20px">栖霞红富士山东烟台苹果 2.5kg</p>
                        <p style=" color:gold;font-size: 25px;">37.80¥</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://img.alicdn.com/simba/img/TB1J.BIcWmWBuNkHFJHSuuatVXa.jpg" width="100%">
        </td>
    </tr>
</table>




</body>
</html>

