<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <form id="userForm">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label>默认密码</label>
                    <input type="text" name="password" class="form-control" value="123456" readonly>
                </div>
                <div class="form-group">
                    <label>邮箱</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input type="text" name="tel" class="form-control">
                </div>
            </div>
            <div class="col-md-2"></div>
        </form>
        <div class="col-md-8 col-md-offset-2">
            <button id="submit" class="btn btn-success">提交</button>
            <button type="reset" class="btn btn-info">重置</button>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script>
    $("#submit").click(function () {
        $.ajax({
            dataType: "json",
            url: "/api/user/save",
            type: "post",
            data: $('#userForm').serialize(),
            success: function (data) {
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    setTimeout(function () {
                            window.location.parent.reload();
                        },
                        1000);

                } else {
                    layer.msg(data.msg, {icon: 5});
                }

            },
            error: function (e) {
                var d = e.responseJSON;
                if (d) {
                    layer.msg(d.msg, {icon: 5});
                }
            }
        });
    })
</script>
</html>