<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到生鲜超市！</title>
</head>
<body>
<table width="80%" align="center">

    <tr>
        <td>
            <table width="100%" align="center" cellpadding="0px" cellspacing="0px" border="1">

                <td width="80%" align="center">
                    <a href="#">登录</a>
                    <a href="#">注册<a>
                        <a href="#">购物车</a>
                </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr style="height: 50px">
        <td bgcolor="#448CFF" style="border: 1px solid red">
            <a href="#" style="padding: 50px"><span style="font-size: 25px;color: white;">首页</span>
                <a href="#" style="padding: 50px"><span style="font-size: 25px;color: white;">海鲜</span>
                    <a href="#" style="padding: 50px"><span style="font-size: 25px;color: white;">水果</span>
                        <a href="#" style="padding: 50px"><span style="font-size: 25px;color: white;">肉类</span>
                            <a href="#" style="padding: 50px"><span style="font-size: 25px;color: white;">浏览历史</span>

        </td>
    </tr>

    <tr>
        <td>
            <img src="https://s1.tuchong.com/content-image/201805/bb6532bae9f17785ab3191642bd9b292.jpg" width="100%">
        </td>
    </tr>

    <tr>
        <td>
            <table style="height: 500px;width: 100%;" border="1">

                <tr style="height: 50px">
                    <td bgcolor="#448CFF" colspan="7">
                        <b style="color: white;font-size: 20px;padding: 30px">最新商品</b>
                    </td>
                </tr>

                <tr>


                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1556556102210&amp;di=9c23901a6da929b5caca501159530214&amp;imgtype=0&amp;src=http%3A%2F%2Fimg2.ctoutiao.com%2Fuploads%2F2016%2F04%2F19%2F3be29a5ddb8237b112151de7c3b79a35.png">
                        <p style="font-size: 20px">大螃蟹</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1556556102210&amp;di=9c23901a6da929b5caca501159530214&amp;imgtype=0&amp;src=http%3A%2F%2Fimg2.ctoutiao.com%2Fuploads%2F2016%2F04%2F19%2F3be29a5ddb8237b112151de7c3b79a35.png">
                        <p style="font-size: 20px">大虾</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1556556102210&amp;di=9c23901a6da929b5caca501159530214&amp;imgtype=0&amp;src=http%3A%2F%2Fimg2.ctoutiao.com%2Fuploads%2F2016%2F04%2F19%2F3be29a5ddb8237b112151de7c3b79a35.png">
                        <p style="font-size: 20px">大虾</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td

                    <td align="center" style="margin: auto">
                        <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1556556102210&amp;di=9c23901a6da929b5caca501159530214&amp;imgtype=0&amp;src=http%3A%2F%2Fimg2.ctoutiao.com%2Fuploads%2F2016%2F04%2F19%2F3be29a5ddb8237b112151de7c3b79a35.png">
                        <p style="font-size: 20px">大虾</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://img.alicdn.com/simba/img/TB1J.BIcWmWBuNkHFJHSuuatVXa.jpg" width="100%">
        </td>
    </tr>

    <tr>
        <td>
            <table style="height: 500px;" border="1">

                <tr style="height: 50px">
                    <td bgcolor="#448CFF" colspan="7">
                        <b style="color: white;font-size: 20px;padding: 30px">热门商品</b>
                    </td>
                </tr>

                <tr>



                    <td align="center" style="margin: auto">
                        <img src="01_ali_logo.png">
                        <p style="font-size: 25px">XXX</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="01_ali_logo.png">
                        <p style="font-size: 25px">XXX</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="01_ali_logo.png">
                        <p style="font-size: 25px">XXX</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td>

                    <td align="center" style="margin: auto">
                        <img src="01_ali_logo.png">
                        <p style="font-size: 25px">XXX</p>
                        <p style=" color:red;font-size:25px;">¥99.90</p>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://img.alicdn.com/simba/img/TB1J.BIcWmWBuNkHFJHSuuatVXa.jpg" width="100%">
        </td>
    </tr>
</table>




</body>
</html>