<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>产品</title>
    <div th:replace="/foreground/index::hdcntnt"></div>
</head>
<body>
<div th:replace="/foreground/index::header"></div>
<!-- top-brands -->
<div class="top-brands" id="discount">
    <div class="container">
        <div class="agile_top_brands_grids" th:each="hotpro,state : ${productList}">
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a th:href="'/foreground/product/detail?productId='+${hotpro.productId}">
                                            <div th:switch="${#lists.size(hotpro.picturePath)}">
                                                <img th:src="@{/images/default.jpg}" th:case="0"  height="140"
                                                     width="140"/>
                                                <img title=" "
                                                     alt=" "
                                                     src="images/1.png"
                                                     th:src="@{${hotpro.picturePath[0]}}"
                                                     th:case="*"height="140"
                                                     width="140"/>
                                            </div>
                                        </a>
                                        <p th:text="${hotpro.productName}"></p>
                                        <h4>[['￥'+${hotpro.price}]]<span th:text="'￥'+${hotpro.prePrice}"></span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <!--<button class="btn btn-danger my-cart-btn hvr-sweep-to-right" th:onclick="|addTocart(${hotpro.productId})|">添加到购物车-->
                                        <!--</button>-->
                                        <button class="btn btn-danger my-cart-btn hvr-sweep-to-right" th:onclick="addTocart([[${hotpro.productId}]])">添加到购物车</button>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/foreground/index::footerAndJs"></div>
</body>
</html>